doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Index
	body
		h1 This is Index.html
		img(src="img/test.jpg", alt="")
		video(width="320" height="240" autoplay)
			source(src="test.webm" type="video/webm")